/* Buttons */

.button:before, .button:after {
    color: #fff;
}

/* Button Styles */

.button {
    display: inline-block;
    position: relative;
    color: #fff;
    font-size: 0.875rem;
    font-weight: bold;
    line-height: 1rem;
    padding: 0.75rem 1.25rem;
    white-space: nowrap;
    background-color: $colorLink; /* IE9 & below */
    @include background-image(linear-gradient(lighten($colorLink, 1%), darken($colorLink, 1%)));
    @include border-radius(4px);
    @include box-shadow(0 -2px 0 rgba(0,0,0,0.20) inset);
}

.no-touch .button:hover {
    background-color: lighten($colorLink, 5%); /* IE9 & below */
    @include background-image(linear-gradient(lighten($colorLink, 6%), lighten($colorLink, 4%)));
    @include box-shadow(0 -3px 0 rgba(0,0,0,0.20) inset);
    @include opacity(1);
}

.button:active, .no-touch .button:active {
    background-color: darken($colorLink, 7%); /* IE9 & below */
    @include background-image(linear-gradient(darken($colorLink, 6%), darken($colorLink, 8%)));
    @include box-shadow(0 2px 0 rgba(0,0,0,0.10) inset);
    @include opacity(1);
}

.button.secondary {
    background-color: $colorTitle; /* IE9 & below */
    @include background-image(linear-gradient(lighten($colorTitle, 1%), darken($colorTitle, 1%)));
}

.no-touch .button.secondary:hover {
    background-color: lighten($colorTitle, 5%); /* IE9 & below */
    @include background-image(linear-gradient(lighten($colorTitle, 6%), lighten($colorTitle, 4%)));
}

.button.secondary:active, .no-touch .button.secondary:active {
    background-color: darken($colorTitle, 7%); /* IE9 & below */
    @include background-image(linear-gradient(darken($colorTitle, 6%), darken($colorTitle, 8%)));
}

.button.disabled {
    @extend .button.secondary;
    color: $colorNeutralDk;
    cursor: not-allowed;
    @include opacity(0.20);
}

.button.disabled:active, .no-touch .button.disabled:hover, .no-touch .button.disabled:active {
    @include opacity(0.20);
} 

.button.delete {
    background-color: $colorAlert; /* IE9 & below */
    @include background-image(linear-gradient(lighten($colorAlert, 1%), darken($colorAlert, 1%)));
}

.no-touch .button.delete:hover {
    background-color: lighten($colorAlert, 5%); /* IE9 & below */
    @include background-image(linear-gradient(lighten($colorAlert, 6%), lighten($colorAlert, 4%)));
}

.button.delete:active, .no-touch .button.delete:active {
    background-color: darken($colorAlert, 7%); /* IE9 & below */
    @include background-image(linear-gradient(darken($colorAlert, 6%), darken($colorAlert, 8%)));
}

.button[class*='icon_']:before {
    @include breakpoint(mama-bear) {
        font-size: 2rem;
    }
}

.button[class*='icon_'] {
    line-height: 1rem;
}

.button.icofirst[class*='icon_']:before, .button.icofirst.icon-fallback img {
    left: 0.625rem;
}

.button.icofirst[class*='icon_'], .button.icofirst.icon-fallback {
    padding-left: 3.25rem;
}

/* Large Buttons */

.large.button {
    padding: 1rem 2rem;
    font-size: 1rem;
}

.large.button[class*='icon_']:before {
    @include breakpoint(mama-bear) {
        font-size: 2.5rem;
    }
}

.large.button.icofirst[class*='icon_'], .large.button.icofirst.icon-fallback {
    padding-left: 3.25rem;
    @include breakpoint(mama-bear) {
        padding-left: 3.75rem;
    }
}

/* Small Buttons */

.small.button {
    padding: 0.5rem 1rem;
    font-size: 0.8125rem;
    line-height: 1rem;
}

/* Icon-Only Buttons */

.button.icosolo[class*='icon_'] {
    padding: 0;
    width: 2rem;
    height: 2rem;
}

.button.icosolo[class*='icon_']:before {
    top: 0.5rem;
    @include breakpoint(mama-bear) {
        font-size: 2rem;
    }
}

/* Add-On Buttons */

.addon.button {
    display: inline-block;
    width: 100%;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
    @include border-radius(0 4px 4px 0);
    @include breakpoint(mama-bear) {
        padding-top: 1rem;
        padding-bottom: 0.9375rem;
    }
}