$colorLink: #004876; //Navy
$colorHighlight: #FF8300; //Orange
$colorText: #000000; //Black
$colorTitle: #646569; //Dark Gray
$colorDivider: rgba(0,0,0,0.10);
$colorDividerLt: rgba(0,0,0,0.05);
$colorNeutralLt: #EBEEF2; //Light Gray
$colorNeutralMd: #DFE1E5; //Med Gray
$colorNeutralDk: #C3C5C8; //Med-Dark Gray
$colorAlert: #FF4C00; //Burnt Orange
$colorAccent1: #9FD4C9; //Turquoise Green
$colorAccent2: #D5D654; //Lime Green
$colorAccent3: #008375; //Forest Green